.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.list-group-item {
    max-width: 100%;
    min-width: 400px;
}

.img-thumbnail {
    width: 32px;
    height: 32px;
}

@media screen and (min-width: 1200px) {
    .btn {
        max-width: 100%;
        min-width: 100px;
        font-size: 100px;
        max-height: 100%;
    }

    .textbox {
        max-width: 100%;
        font-size: 100px;
        text-align: right;
    }

    .subTextbox {
        max-width: 100%;
        font-size: 25px;
        text-align: right;
        color: dimgray;
    }
}

@media screen and (min-width:768px) and ( max-width:1200px) {
    .btn {
        max-width: 100%;
        min-width: 30px;
        font-size: 30px;
        max-height: 100%;
    }

    .textbox {
        max-width: 100%;
        font-size: 30px;
        text-align: right;
    }

    .subTextbox {
        max-width: 100%;
        font-size: 20px;
        text-align: right;
        color: dimgray;
    }
}

@media screen and (min-width:576px) and ( max-width:768px) {
    .btn {
        max-width: 100%;
        min-width: 20px;
        font-size: 20px;
        max-height: 100%;
    }

    .textbox {
        max-width: 100%;
        font-size: 20px;
        text-align: right;
    }

    .subTextbox {
        max-width: 100%;
        font-size: 10px;
        text-align: right;
        color: dimgray;
    }
}

@media screen and (max-width: 576px) {
    .btn {
        max-width: 100%;
        min-width: 30px;
        font-size: 30px;
        max-height: 100%;
    }

    .textbox {
        max-width: 100%;
        font-size: 30px;
        text-align: right;
    }

    .subTextbox {
        max-width: 100%;
        font-size: 10px;
        text-align: right;
        color: dimgray;
    }
}

