@page "/update"

<PageTitle>Index</PageTitle>
<h1 class="h5">更新履歴</h1>
<ul>
    <li>
        23/10/15  検索機能追加
    </li>
    <li>
        23/10/14  開始時に一斉取得に変更
    </li>
    <li>
        23/05/16  仮想通貨一覧をクリック出来るように
    </li>
    <li>
        23/05/16  計算結果表示
    </li>
    <li>
        23/05/10  仮想通貨一覧表示機能
    </li>
    <li>
        23/05/08  公開
    </li>
</ul>